.primary {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    font: var(--font-button);
    color: var(--text-title-dark);
    background: linear-gradient(to right, hsl(217, 100%, 30%), var(--primary));
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.primary:hover {
    background: linear-gradient(to right, red, black);
}

.primary:active {
    background-color: #0059e7;
}
