.table {
    width: 60dvw;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    /* border-bottom: 1px solid black; */
}

.table thead {
    position: sticky;
    top: 0;
    background-color: var(--foreground);
}

.table th {
    font: var(--font-h3);
    color: var(--text-title-dark);
}

.table td {
    font: var(--font-body);
    color: var(--text-title-light);
}

.table tbody tr:nth-child(even) {
    background-color: #f3f4f6;
}

.table tbody tr:hover {
    background-color: #ccdfff;
}
